.tableContainer {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #2c3e50;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 10px;
}

.table th {
    background: #f1f1f1;
    text-align: left;
}

button {
    cursor: pointer;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
}

.editBtn {
    background: #2E2EFF;
    color: white;
    font-size: 14px;
    margin-left: 25px;
}

.deleteBtn {
    background: #FF2E2E;
    color: white;
    font-size: 14px;
    margin-left: 20px;
}

.editBtn:hover {
    text-decoration: underline;
}

.deleteBtn:hover {
    text-decoration: underline;
}